<!DOCTYPE html>
<html lang="en">

<head id="{{ id }}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DPS Confluence 2023 {{ title }}</title>
  <link rel="stylesheet" href="/scss/main.css" />
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  <script src="/anime.min.js"></script>
</head>

<body id="{{ id }}">
  {% include "header.liquid" %}

  <main id="{{ id }}">{{ content }}
  </main>

  <script>
    if (document.body.id == "video") {
      document.body.innerHTML += `
      <img src="/_media/nebula_720.png" id="confluence-hero-video-fallback">
      `
    }
  </script>
  {% include "footer.liquid" %}
</body>

</html>