---
layout: layout
id: video
---

<!-- COUNTDOWN -->

<script>
  const day = 1000 * 60 * 60 * 24
  const hour = 1000 * 60 * 60
  const minute = 1000 * 60
  const second = 1000
  const finalDate = new Date("August 16, 2023 08:00:00")

  function calculateCountdown() {
    const date = new Date()
    let difference = Math.abs(finalDate - date)

    let dL,
      hL,
      mL,
      sL

    dL = Math.floor(difference / day)
    difference -= dL * day

    hL = Math.floor(difference / hour)
    difference -= hL * hour

    mL = Math.floor(difference / minute)
    difference -= mL * minute

    sL = Math.floor(difference / second)
    difference -= sL * second

    const spanWrap = (val, id) => `<span id="c-${id}" class="c-val">${val}</span>`
    const pluralize = (str, val) => (
      val == 1
        ? str
        : str + "s"
    )
    const stringify = (val, root, id) => `${spanWrap(val, id)
      } ${pluralize(root, val)
      }`

    let text = `${stringify(dL, "day", "d")
      } ${stringify(hL, "hour", "h")
      } ${stringify(mL, "minute", "m")
      } and ${stringify(sL, "second", "s")
      } left`

    document.getElementById("countdowntext").innerHTML = text
  }
  setInterval(calculateCountdown, 1000)
</script>

<!-- END COUNTDOWN -->

<video autoplay muted playsinline id="confluence-hero-video">
  <source src="/_media/nebula_720.mp4" type="video/mp4">
</video>


<!--
<img id="confluence-hero-video" src="/_media/nebula_720.mp4">

-->
<!--
  <img src="/_media/nebula.gif" alt="Nebula video" id="confluence-hero-video">
-->



<div class="hero fullheight" id="confluence-hero">
  <div id="outlinelogo"></div>
  <h3 id="confluenceintro" class="body">
    Delhi Public School, Bangalore South Presents
  </h3>
  <h1 id="confluencetitle">
  </h1>
  <h3 class="body" id="confluencesub">
    An Inter School Multidisciplinary Fest
  </h3>
  <div class="spacer"></div>
  <div id="countdowntext" style="margin-top:3px;">0 days 0 hours 0 minutes and 0 seconds</div>
</div>



<!-- <div id="particles-js"> -->
<div class="hero center" id="welcome">
  <h1>Welcome to Confluence 2023</h1>

  <div class="statsGrid">
    <div>
      <h3>30</h3>
      <sub>events</sub>
    </div>
    <div>
      <h3>9</h3>
      <sub>categories</sub>
    </div>
    <!-- <div>
        <h3>4</h3>
        <sub>days</sub>
      </div> -->
  </div>

  <div class="statsGrid">
    <div>
      <sub>starts</sub>
      <h3>16 August </h3>
    </div>
    <div>
      <sub>ends</sub>
      <h3>17 August</h3>
    </div>
  </div>

</div>
<div class="hero center" id="letter">
  <div class="left">
    <img src="/_media/principal.jpeg" alt="">
  </div>
  <div class="right">
    <h1>Letter from the Principal</h1>
    <div class="spacer"></div>
    <div class="text">
      <sub>
        <i>The best part of a challenge is that through it we discover what we are capable of and how much more we can
          actually do than we ever believed possible.</i><br><br>Greetings from the DPS Bangalore South fraternity! It
        is
        with
        great
        enthusiasm that we bring to you <b>CONFLUENCE 2023</b>, the inter-school fest which will serve as a platform for
        students to compete in various academic and co-curricular activities.
        <br>
        <br>
        Confluence has been curated as an excellent opportunity for building individual and collective capacities and
        fostering a spirit of healthy competition. We have carefully selected a range of events that cater to diverse
        interests and strengths. Whether you excel in academics, sports, or performing arts, at Confluence you will
        undoubtedly find an event that will enable you to showcase your talents. I urge each and every one of you to
        consider participating in an event that aligns with your passion and expertise.
        <br>
        <br>
        Dear children, remember, success is not measured solely by winning but by the effort, dedication, and personal
        growth we put into our endeavours. So, regardless of the outcome, I want you to approach this opportunity with
        determination, perseverance, and a positive attitude. Embrace the challenges, learn from the experience, and
        strive to perform your best.
        <br>
        <br>
        I wish you all the very best of luck!
        <br>
        <br>
        With warm regards,
        <br>
        <b>
          Anitha Bijesh
          <br>
          Principal
        </b>
      </sub>
    </div>
  </div>

</div>
<!-- </div> -->


{% comment %}
{% include 'particles-script' %}
{% endcomment %}

<!--
<div id="constellations" class="">
  <div class="center padded-div space-primary-transition">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h1>CATEGORIES</h1>
    <sub>Click on a category to find its events</sub>
  </div>
</div>
-->

<div id="constellations">
  <div class="center padded-div">
    <h1>Categories</h1>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>
<div id="categories">
  {% for cat in categories %}
  {% assign events = collections.event | where: 'data.category', cat[0] %}
  <a class="category" href="/#{{ cat[0] }}">
    <img src="{{ cat[1].image }}" alt="{{ cat[1].title }} Image" class="category-image">
    <div class="category-info">
      <h2>{{ cat[1].title }}</h2>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <u>
        <p style="font-size: 1.05em;">View <b>{{ events | size }} events →</b></p>
      </u>
    </div>
  </a>
  {% endfor %}
</div>

<!--
<div class="padded-div center primary">
  <h3>Categories</h3>
</div>
-->

<div id="event-categories" class="">
  {% for cat in categories %}
  {% assign events = collections.event | where: 'data.category', cat[0] %}

  <div class="event-category">
    <div class="padded-div cat-info" id="{{ cat[0] }}">
      <h1 class="huge">{{ cat[1].title }}</h1>
    </div>

    <div class="events">
      {% for event in events %}
      <a href="{{ event.url }}" class="e">
        <div class="event">
          {%- comment -%}
          <div class="event-img">
            <img src="{{ event.data.img }}" alt="{{ event.data.title }} image" />
          </div>
          {%- endcomment -%}
          <div class="event-img" style="background-image: url('{{ event.data.img }}');">{%- comment -%}
            <img src="{{ event.data.img }}" alt="{{ event.data.title }} image" />
            {%- endcomment -%}
          </div>
          {% assign cat = categories[event.data.category] %}
          <div class="event-info">
            <h4>{{ cat.title }}</h4>
            <div class="event-btns">
              <h2>{{ event.data.title }}</h2>
              <button class="primary-button">
                Read More
              </button>
            </div>

            <p>
              <strong>{{ event.data.teamsize }}
                {{ " " }}
                {%- comment -%}
                TODO ADD WHEN SCEDULE COMES
                {%- endcomment -%}
                {%- comment -%}
                |
                {{ event.data.times }}
                {%- endcomment -%}
                |
                {{ event.data.grades }}
                |
                {{ " " }}
                {{ event.data.dates }}
              </strong>
            </p>
            {% comment %}
            <p>
              {{ event.data.short_description }}
            </p>
            {% endcomment %}
            <!-- <p>
              {{ event.data.description | markdownify }}
            </p> -->


          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>
  {% endfor %}
</div>

<!--
<a class="hero padded-div center" href="/brochure">
  <button class="primary-button heading" style="padding-bottom: 12px !important;">
    VIEW BROCHURE
  </button>
</a>
-->



<a href="/register" class="hero translucent-primary padded-div center">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <h1>Register for Confluence Now</h1>
  <sub>Schools can register interested participants in the page linked below.</sub>
  <sub>Find more details in our brochure.</sub>
  <div class="spacer"></div>
  <button class="primary-button body">Register</button>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</a>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="padded-div center translucent-primary">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <p>Read the Confluence guidelines or go through the brochure next.</p>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="center columns">
    <a href="/guidelines" class="hero padded-div">
      <h3><u>Guidelines</u></h3>
    </a>
    <a href="/brochure" class="hero padded-div" target="_blank">
      <h3><u>Brochure</u></h3>
    </a>
  </div>
</div>





<script>
  console.log("anime js starting")
  var tl = anime.timeline({ easing: 'easeInOutQuad', duration: 750 });

  for (const a of "Confluence 2023".split("")) {
    document.getElementById("confluencetitle").innerHTML += `<span>${a}</span>`
  }

  async function main() {
    console.log("main()")
    document.getElementById("outlinelogo").innerHTML = await (await fetch("/_media/confluence_logo_outline_svg.svg"))
      .text()

    /*
    if (window.innerWidth > 720) {
      document.getElementById("constellations").innerHTML += await (await fetch("/_media/desktop_svg.svg"))
        .text()
    } else {
      document.getElementById("constellations").innerHTML += await (await fetch("/_media/mobile_svg.svg"))
        .text()
    }
    */

    for (const a of document.getElementsByTagName("g")) {
      a.onclick = (event) => {
        window.location.href = "/#" + a.id.replace("svg-", "")
      }
    }

    console
      .log(await (await fetch("/_media/confluence_logo_outline_gradient_svg.svg")).text())

    console
      .log("animation")

    tl.add({
      targets: "#confluenceintro",
      opacity: [0, 1],
      duration: 300,
      easing: "easeInOutSine",
      delay: 500,
    })
    tl
      .add({
        targets: '#outlinelogo svg path',
        strokeDashoffset: [
          anime.setDashoffset, 0
        ],
        opacity: 1,
        easing: 'easeInOutSine',
        duration: 300,
        delay: function (el, i) {
          return i * 250 - 1500
        },
        direction: 'alternate',
        loop: false
      })

    tl
      .add({
        targets: "#outlinelogo",
        opacity: [
          1, 0.4
        ],
        duration: 700
      })
    tl
      .add({
        targets: "#confluencetitle span",
        opacity: [
          0, 1
        ],
        delay: anime.stagger(80),
        duration: 400
      })

    tl.add({
      targets: "#confluencesub",
      opacity: [0, 1],
      duration: 500,
    })

    tl.add({
      targets: "#confluence-hero #countdowntext",
      opacity: [0, 1],
      duration: 500,
    })
  }

  // window.addEventListener("load", main)
  main()
</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/"
        })
      }
    })
  }
</script>